/* style for home section */
#home{
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

/* change bootstrap navbar toggler icon color */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28247, 70, 91, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* change bootstrap menu style */
.navbar-dark ul>li{
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    transition: transform 500ms;
}
.navbar-dark ul>li:hover{
    transform: scale(1.1);
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show>.nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #f7465b;
}

/* change bootstrap primary button color */
.btn-primary{
    color: white;
    background-color: #f7465b;
    border: #f7465b;
}
.btn-primary:hover{
    color: #f7465b;
    background-color: white;
    border: white;
}

/* about page */
#about{
    height: 100vh;
    background: gray;
}
.profile{
    width: 200px;
    border-radius: 10px;
    border: 5px solid white;
}
