/* home page */
#home{
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #333;
    background-blend-mode: multiply;
    color: white;
}

/* about page */
#about{
    min-height: 100vh;
    background: #362e2e;
    color: white;
    text-align: center;
}
.profile{
    width: 200px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px #888888;
}
.about-box{
    text-align: left;
    border: 1px solid #f7465b;
}

/* service page */
#services{
    min-height: 100vh;
    background: #333333;
    color: white;
}
#services .card{
    background-color: transparent;
    text-align: center;
}
#services .card:hover{
    background-color: white;
    color: black;
    
}
#services .card > i{
    padding: 5px;
    font-size: 2rem;
}
#services .main-content{
    text-align: center;
}
#services p{
    color: #aea8a8;
}

/* portfolio page */
#portfolio{
    min-height: 100vh;
    background: rgb(90, 77, 77);
    
}

#portfolio .main-content{
    color: white;
    text-align: center;
}
#portfolio .card-body{
    color: #333333;
}

/* contact page */
#contact{
    min-height: 100vh;
    background: url(./images/contactBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #333;
    background-blend-mode: multiply;
    color: white;
}
#contact .card{
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
}
#contact .card:hover{
    background-color: white;
    color: #333333;
}
#contact .card>i{
    font-size: 2rem;
    background-color: #f7465b;
    padding: 25px 0px;
    width: 80px;
    border-radius: 100%;
    margin: auto;
}


/* Gloval style */

/* style for small under line */
.separator.centered {
    margin: 10px auto;
}
.separator {
    background: #f7465b;
}
.separator {
    position: relative;
    width: 70px;
    height: 3px;
    margin: 10px 0;
}

/* change bootstrap navbar toggler icon color */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28247, 70, 91, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* change bootstrap menu style */
.navbar-dark ul>li{
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    transition: transform 500ms;
}
.navbar-dark ul>li:hover{
    transform: scale(1.1);
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show>.nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #f7465b;
}

/* change bootstrap buttons color */
.btn-primary{
    color: white;
    background-color: #f7465b;
    border: #f7465b;
}
.btn-primary:hover{
    color: #f7465b;
    background-color: white;
    border: white;
}
.btn-secondary{
    color: #f7465b;
    background-color: transparent;
    border-color: #f7465b;
}
.btn-secondary:hover{
    color: #f7465b;
    background-color: white;
    border: white;
}